[submodule "test-admin_submoduleA"]
	path = test-admin_submoduleA
	url = https://github.com/pia-corp/test-admin_submoduleA.git
[submodule "test-admin_submoduleB"]
	path = test-admin_submoduleB
	url = https://github.com/pia-corp/test-admin_submoduleB.git
[submodule "topards.jp"]
	path = topards.jp
	url = https://github.com/pia-corp/topards.jp
[submodule "melloew.jp"]
	path = melloew.jp
	url = https://github.com/pia-corp/melloew.jp
[submodule "lilmoon.jp"]
	path = lilmoon.jp
	url = https://github.com/pia-corp/lilmoon.jp
[submodule "minette-lens.jp"]
	path = minette-lens.jp
	url = https://github.com/pia-corp/minette-lens.jp
[submodule "mirage-c.jp"]
	path = mirage-c.jp
	url = https://github.com/pia-corp/mirage-c.jp
[submodule "mimuco.jp"]
	path = mimuco.jp
	url = https://github.com/pia-corp/mimuco.jp
[submodule "molak.jp"]
	path = molak.jp
	url = https://github.com/pia-corp/molak.jp
[submodule "melady.jp"]
	path = melady.jp
	url = https://github.com/pia-corp/melady.jp
[submodule "chapun.jp"]
	path = chapun.jp
	url = https://github.com/pia-corp/chapun.jp
[submodule "michou.jp"]
	path = michou.jp
	url = https://github.com/pia-corp/michou.jp
[submodule "faloom.jp"]
	path = faloom.jp
	url = https://github.com/pia-corp/faloom.jp
[submodule "puuuuchu.jp"]
	path = puuuuchu.jp
	url = https://github.com/pia-corp/puuuuchu.jp
