[submodule "michou.jp"]
	path = michou.jp
	url = https://github.com/pia-corp/michou.jp
[submodule "chapun.jp"]
	path = chapun.jp
	url = https://github.com/pia-corp/chapun.jp
[submodule "faloom.jp"]
	path = faloom.jp
	url = https://github.com/pia-corp/faloom.jp
[submodule "louer.jp"]
	path = louer.jp
	url = https://github.com/pia-corp/louer.jp
